<!-- Sidebar -->
<aside class="sidebar">
    <a href="{% url 'dashboard-index'%}" class="sidebar-brand">
        <i class="fas fa-box-open"></i>
        FoxInventory
    </a>

    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="{% url 'dashboard-index'%}" class="sidebar-nav-link active">
                <i class="fas fa-home"></i> Dashboard
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="{% url 'cashier'%}" class="sidebar-nav-link">
                <i class="fas fa-cash-register"></i> Cashier
            </a>
        </li>
        <li class="sidebar-nav-item mt-4 mb-2">
            <span class="text-muted small font-weight-bold px-3 text-uppercase">Management</span>
        </li>
        <li class="sidebar-nav-item">
            <a href="{%url 'dashboard-product'%}" class="sidebar-nav-link">
                <i class="fas fa-box"></i> Products
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="{%url 'sales-history'%}" class="sidebar-nav-link">
                <i class="fas fa-shopping-cart"></i> Orders
            </a>
        </li>
    </ul>
</aside>
<!-- End Sidebar -->
